.section {
    height: 100vh;
    background-image: url(../img/food/home.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding-left: 639px;
    font-weight: bold;
    background-position: left;
    background-repeat: no-repeat;
}
.chatapp{
    font-weight: bold;
    font-size: 20px;
    color: #167cab;
    max-width: 400px;
}
.btn-chat {
    color: #fff;
    background-color: #4690b4;
    border-color: #4690b4;
}
.section h2{
    font-size: 41px;
}
.section p{
    font-size: 18px;
}
