<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#596f87">
</head>
<body>
    <div class="section">
        <h2>Welcome to Your Table!</h2>
        <p class="mt-1"> Experience effortless dining. Browse the menu, place your order, and <br>
             enjoy personalized service  all from the comfort of your seat. <br> Your perfect meal is just a tap away.</p> 
        <a href="{{ url_for('menu') }}"><button class="btn btn-success mt-1">Go to Menu </button> </a>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('{{ url_for("static", filename="js/service-worker.js") }}')
                    .then(function(registration) {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(error) {
                        console.log('ServiceWorker registration failed: ', error);
                    });
            });
        }
    </script>
</body>
</html>
