<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>

    <div class="container-fluid menu-list"> 
        <h2 class="text-center mt-4 mb-4">Food Menu</h2>
        <div class="row">
            {% for i in range(12) %}
            <div class="col-md-4"> 
                <div class="menu-info mt-4"> 
                    <div class="row">
                        <div class="col-md-7">
                            <p class="menu-name">Egg Briyani</p>
                            <p class="menu-price">&#8377; 100</p>
                            <div class="quantity-container d-flex">
                                <p class="quantity-btn minus-btn main-center">-</p>
                                <input type="text" id="quantity" value="0" readonly>
                                <p class="quantity-btn plus-btn main-center">+</p>
                            </div>
                        </div> 
                        <div class="col-md-5">
                            <div class="position-relative">
                                <img class="menu-img" src="{{ url_for('static', filename='img/food/egg-briyani.jpg') }}" alt="food-img"> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="footer-info">
            <p class="order-count-info mb-0"><span class="order-count">0</span> item added</p>
            <div class="footer-data main-center">
                <p class="order-price-info mb-0 mr-3">Price : &#8377;<span class="order-price">0</span></p>
                <button class="place-btn" data-toggle="modal" data-target="#myModal">Place Order</button>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 overall-confirmation-data">
                            <div class="confirmation-data d-flex">
                                <p>Chicken Briyani X 1</p>
                                <p> &#8377;<span class="confirmation-price">200</span></p>
                            </div>
                            <div class="confirmation-data d-flex">
                                <p>Mutton Briyani X 2</p>
                                <p> &#8377;<span class="confirmation-price">500</span></p>
                            </div>
                        </div>
                        <div class="col-12"> 
                            <div class="confirmation-data d-flex">
                                <h5>Overall</h5>
                                <h5> &#8377;<span class="confirmation-price">700</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info">Confirm Order</button>
                </div>
        
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</body>
</html> 